### Tablas de contingencia

In [3]:
import pandas  as  pd

data = {
    'Fruta': ['Manzana', 'Manzana', 'Manzana', 'Plátano', 'Cereza', 'Uva', 'Uva', 'Naranja', 'Naranja', 'Naranja'],
    'Es Roja': ['Sí', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'No', 'No']
}

df = pd.DataFrame(data)
df.head()

     Fruta Es Roja
0  Manzana      Sí
1  Manzana      Sí
2  Manzana      No
3  Plátano      No
4   Cereza      Sí

In [ ]:
tabla_contigencia = pd.crosstab(
    df["Fruta"],
    df["Es  Roja"},
    margins=True